html {
  font-family: sans-serif;
}

body {
  padding: 32px;
}

#list {
  list-style: none;
}

.item {
  padding: 16px;
  border: 1px solid #B0B0B0;
  width: 400px;
  margin: 8px 0;
}

.item .item-content {
  color: #8c8c8c;
  margin-bottom: 16px;
  font-style: italic;
  display: block;
}

.checked {
  text-decoration: line-through;
}
